---
import { Icon } from "astro-icon";
export interface Props {
  style?: string;
}
let { style } = Astro.props;

const navbar = [
  {
    name: "Home",
    href: `${import.meta.env.BASE_URL}index.html`
  },
  {
    name: "Teoria",
    href: `${import.meta.env.BASE_URL}teoria.html`
  },
  {
    name: "Manuale utente",
    href: `${import.meta.env.BASE_URL}manuale-utente.html`
  },
  {
    name: "Applicazione",
    href: `${import.meta.env.BASE_URL}applicazione.html`
  }
];

const desktopIcons = "self-center dark:text-zinc-300 text-black hover:text-zinc-500 dark:hover:text-zinc-400 hidden sm:block";
const mobileIcons = "dark:text-zinc-300 text-black hover:text-zinc-500 dark:hover:text-zinc-400 sm:hidden";
---

<header class="bg-white dark:bg-zinc-900 text-lg dark:text-zinc-300 mx-auto max-w-6xl flex flex-row justify-center" style={style}>
  <a href={import.meta.env.BASE_URL + "index.html"} class="mx-8 mt-5 flex items-center" aria-label="Logo UniMI">
    <Icon name="unimi_logo_50" class="w-20 h-20" optimize={false}/>
  </a>
  {
    (
      <nav class="pt-6 flex flex-row space-x-8">
        {navbar.map((navbar) => (
          <a href={navbar.href} class={desktopIcons}>
            {navbar.name}
          </a>
        ))}
      </nav>
    )
  }
  <button class="nav-toggle mx-8 my-5 sm:invisible" aria-label="menu button">
  </button>
</header>
<header class="nav-menu hidden bg-white dark:bg-zinc-900">
  {
    (
      <nav class="m-8 flex flex-col inline-flex space-y-3">
        {navbar.map((navbar) => (
          <a href={navbar.href} class={mobileIcons}>
            {navbar.name}
          </a>
        ))}
      </nav>
    )
  }
</header>
