---
export interface Props {
  id: string;
  text: string;
  style?: string;
  type: "button" | "reset" | "submit" | null | undefined;
  dataModalId?: string;
}
let { id, text, style, type, dataModalId } = Astro.props;
---
<button id={id} 
  type={type}
  class="bg-white hover:bg-gray-100 text-gray-800 font-semibold inline-flex items-center py-2 px-4 mr-4 border border-gray-400 rounded shadow dark:text-white dark:bg-zinc-700 dark:hover:bg-zinc-800 disabled:bg-gray-300 disabled:hover:bg-gray-300"
  data-modal-target={dataModalId}
  data-modal-show={dataModalId}
  style={style}>
    {text}
  <svg aria-hidden="true" class="w-5 h-5 ml-2 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2 9.5A3.5 3.5 0 005.5 13H9v2.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 15.586V13h2.5a4.5 4.5 0 10-.616-8.958 4.002 4.002 0 10-7.753 1.977A3.5 3.5 0 002 9.5zm9 3.5H9V8a1 1 0 012 0v5z" clip-rule="evenodd"></path></svg>
</button>